html
{
    scroll-behavior: smooth;
}

*{
    background-attachment: initial;
}
.fullscreen
{
    height:100vh;
}

.spacer {
    height: 1vh;
    background-color: black; /* For browsers that do not support gradients */
    background-position: cover;
}

.column {
    margin-top: 0%;
    margin-bottom: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(220deg, grey, white, white, grey);
    opacity: 90%;
    border:2pt dashed rgb(16, 15, 15);
    border-radius: 10%;
    float:left;

}

.column h2
{
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-decoration: underline;
    
}
#rooms 
{   
    width:100%;
    height:100%;
}
.columnleft
{
    box-sizing: border-box;
    padding:3.5%;
    float: left;
    width: 60%;
    height: 100%;
}
.columnright
{   
    background-size: cover;
    box-sizing: border-box;
    float: left;
    width: 40%;
    height: 100%;
}
